<div id="modal-comment" class="modal">
  <div>
    <div class="modal-form">
      <a class="close close-modal-onclick">&times;</a>
      <!-- <h2><?= $CONFIGS['titre_form_comment']; ?></h2> -->

      {{ form(comment_form) }}

    </div>
  </div>
</div>